<div class="index">

<p>
  <a href="/merchants/new">Add merchant</a>
</p>


<div class="list">


<ul>
<% @merchants.each do |merchant| %>

    <li><a href="/merchants/<%= merchant.id  %>"><%= merchant.name %></a></li>

<% end %>
</ul>

</div>
</div>
