<div class="container">
  <img id="home" src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/04/15/11/money.jpg" alt="">
  <div class="centered">
    <h1>Spending Tracker</h1>
    <h3>Simple | Efficient | Practical </h3>
  </div>
</div>
