<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Tracker</title>
  </head>
  <body>
    <ul>
      <a href="/transactions"><li>Transactions</li></a>
    </ul>
    <%= yield %>
  </body>
</html>
