<div class="index">
  <p>
    <a href="/tags/new">New tag</a>
  </p>

  <ul>
  <% @tags.each do |tag| %>

      <a href="/tags/<%= tag.id  %>"><li><%= tag.name.capitalize %></li></a>
  <% end %>
  </ul>
</div>
