<div class="index">
  <p >
    <a class="myButton" href="/tags/new">Add tag</a>
  </p>


<div class="list">


  <ul>
  <% @tags.each do |tag| %>

      <li><a href="/tags/<%= tag.id  %>"><%= tag.name.capitalize %></a></li>
  <% end %>
  </ul>

  </div>
</div>
