<div class="index">
  <p>
    <a class="myButton" href="/tags/<%= @tag.id %>/edit">Rename</a>
  </p>
</div>

<h1> <%= @tag.name.capitalize %> </h1>

<form action="/tags/<%= @tag.id  %>/delete" method="post">
    <input class="delete" type='submit' value="Delete">
</form>

<p>Warning! This will delete all the transactions with <%= @tag.name.capitalize %> attached to it!</p>
