.index p {
  background-color: #f1f1f1;
  padding: 14px 14px;
  margin: 0;
  position: sticky;
  top: 46.667px;
  font-weight: bold;
}
.index a {
  text-decoration: none;
}

/* unvisited link */
.index a:link {
  color: black;
}

/* visited link */
.index a:visited {
  color: black;
}

/* mouse over link */
.index a:hover {
  color: grey;
}

/* selected link */
.index a:active {
  color: black;
}

.index ul {
  list-style-type: none
}



.list ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
  width: 50%;
  margin: 2em auto;
  border-radius: 0.5em
}

.list ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.list ul li:last-child {
  border-bottom: none
}

.delete {
  width: 10%;
  background-color: #d11a2a;
  color: white;
  padding: 7px 10px;
  margin-left: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h1, p {
  margin-left: 14px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Times;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}
