<% @transactions.each do |transaction| %>
  <ul>
    <li><%= transaction.amount %></li>
    <li><%= transaction.merchant.name.capitalize %></li>
    <li><%= transaction.tag.name.capitalize %></li>
  </ul>

<% end %>

<p> Total: <%= @total %></p>

<p>
  <a href="/transactions/new">New transaction</a>
</p>
