<div class="small-form">


<form action="/transactions" method="post">
  <label>
  Select a merchant:
    <select required name="merchant_id">
      <option disabled selected>Select a merchant!</option>
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name.capitalize %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a tag:
    <select required name="tag_id">
      <option disabled selected>Select a tag!</option>
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name.capitalize %></option>
      <% end %>
    </select>
  </label>

  <label>
    Amount:
  <input required type="number" name="amount" placeholder="Add the amount!">
  </label>

  <input type='submit' value="New transaction" placeholder="Amount">
</form>

</div>
